/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# macOS Files
.DS_Store

# Asset Generated CSS
public/css/admin.css
public/css/auth.css
public/css/global.css
public/css/home.css
public/css/main.css

# Asset Generated JS
public/js/global.js

# Assets
public/assets/admin/*
!public/assets/admin/logo.svg

public/assets/kandidat/*
public/assets/member/*
public/assets/mitra/*

public/assets/public/article/*
!public/assets/public/article/thumb/
public/assets/public/article/thumb/*

public/assets/public/photo/*
!public/assets/public/photo/default_photo.png
