
    main,  section,  footer,  .section {

    padding: 1rem
}

    footer {

    position: sticky;

    top: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    border-top-width: 1px
}

    @media (min-width: 768px) {

    footer {

        flex-direction: row;

        justify-content: space-between
    }
}

    .sidebar {

    flex-direction: column;

    border-width: 0px
}

    @media (min-width: 1024px) {

    .sidebar {

        display: flex;

        min-height: 100vh;

        flex-direction: row;

        border-right-width: 1px
    }

    .sidebar nav {

        height: 100%
    }
}

    .sidebar .menu {

    width: 100%
}

    @media (min-width: 1024px) {

    .sidebar .menu {

        display: flex !important;

        height: 100%;

        flex-direction: column
    }
}

    .btn-sidebar {

    margin-top: 0.5rem;

    display: block;

    padding-left: 1.25rem;

    padding-right: 1.25rem;

    padding-top: 0.75rem;

    padding-bottom: 0.75rem
}

    .btn-sidebar:hover {

    background-color: rgb(76 86 106 / 0.2);

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

    @media (min-width: 1024px) {

    .btn-sidebar {

        font-weight: 600
    }
}

    .btn-sidebar.active {

    background-color: rgb(76 86 106 / 0.2);

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

    .btn-mobile-menu {

    border-radius: 0.5rem;

    font-size: 1.125rem;

    line-height: 1.75rem;

    --tw-text-opacity: 1;

    color: rgb(0 0 0 / var(--tw-text-opacity))
}

    @media (min-width: 1024px) {

    .btn-mobile-menu {

        display: none
    }
}

    table {

    width: 100%;

    table-layout: auto;

    border-width: 1px;

    font-size: 0.875rem;

    line-height: 1.25rem
}

    @media (min-width: 768px) {

    table {

        table-layout: fixed
    }
}

    thead {

    border-bottom-width: 1px;

    --tw-bg-opacity: 1;

    background-color: rgb(229 233 240 / var(--tw-bg-opacity));

    font-weight: 600;

    text-transform: uppercase
}

    tbody {

    --tw-bg-opacity: 1;

    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

    thead th,  tbody td {

    border-right-width: 1px;

    padding-top: 0.75rem;

    padding-bottom: 0.75rem;

    padding-left: 1rem;

    padding-right: 1rem
}

    tbody tr {

    border-bottom-width: 1px
}

    tbody tr:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(236 239 244 / var(--tw-bg-opacity))
}

    .btn-dropdown {

    display: flex;

    width: 100%;

    align-items: center
}

    .btn-dropdown > :not([hidden]) ~ :not([hidden]) {

    --tw-space-x-reverse: 0;

    margin-right: calc(0.5rem * var(--tw-space-x-reverse));

    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

    .btn-dropdown {

    --tw-text-opacity: 1;

    color: rgb(17 24 39 / var(--tw-text-opacity))
}

    .btn-dropdown:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .btn-dropdown:focus {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .dropdown {

    position: absolute;

    right: 0px;

    margin-top: 0.5rem;

    width: 100%;

    transform-origin: top;

    white-space: nowrap;

    border-radius: 0.375rem;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

    .btn-navbar {

    margin-top: 0.5rem;

    border-radius: 0.375rem;

    padding-left: 1rem;

    padding-right: 1rem;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 600
}

    .btn-navbar:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .btn-navbar:focus {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    @media (min-width: 768px) {

    .btn-navbar {

        margin-top: 0px
    }
}

