
    header {

    top: 0px;

    z-index: 10;

    border-bottom-width: 1px;

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

    footer {

    position: sticky;

    top: 100vh;

    border-top-width: 1px;

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

    main,  section,  .header,  .footer,  .section {

    margin-left: auto;

    margin-right: auto;

    max-width: 1280px;

    padding-left: 1.25rem;

    padding-right: 1.25rem
}

    @media (min-width: 1536px) {

    main,  section,  .header,  .footer,  .section {

        padding: 0px
    }
}

    .header {

    margin-left: auto;

    margin-right: auto;

    display: flex;

    flex-direction: column
}

    @media (min-width: 768px) {

    .header {

        flex-direction: row;

        align-items: center
    }
}

    .header .auth-section {

    width: 100%;

    flex-direction: column
}

    .header .auth-section > :not([hidden]) ~ :not([hidden]) {

    --tw-space-x-reverse: 0;

    margin-right: calc(0px * var(--tw-space-x-reverse));

    margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));

    --tw-space-y-reverse: 0;

    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

    .header .auth-section {

    padding-bottom: 1rem
}

    @media (min-width: 768px) {

    .header .auth-section {

        display: flex;

        flex-direction: row;

        justify-content: flex-end
    }

    .header .auth-section > :not([hidden]) ~ :not([hidden]) {

        --tw-space-x-reverse: 0;

        margin-right: calc(0.5rem * var(--tw-space-x-reverse));

        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));

        --tw-space-y-reverse: 0;

        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));

        margin-bottom: calc(0px * var(--tw-space-y-reverse))
    }

    .header .auth-section {

        padding-bottom: 0px
    }
}

    .header .user-dropdown {

    position: absolute;

    right: 0px;

    z-index: 50;

    margin-top: 0.5rem;

    width: 100%;

    min-width: 128px;

    transform-origin: top;

    white-space: nowrap;

    border-radius: 0.25rem;

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    padding: 0.5rem;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);

    --tw-ring-color: rgb(255 150 55 / 0.5)
}

    .header .user-dropdown a {

    border-radius: 0.375rem;

    padding: 0.5rem
}

    .header .btn-dropdown {

    display: flex;

    width: 100%;

    align-items: center
}

    .header .btn-dropdown > :not([hidden]) ~ :not([hidden]) {

    --tw-space-x-reverse: 0;

    margin-right: calc(0.5rem * var(--tw-space-x-reverse));

    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

    .header .btn-dropdown {

    --tw-text-opacity: 1;

    color: rgb(17 24 39 / var(--tw-text-opacity))
}

    .header .btn-dropdown:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .header .btn-dropdown:focus {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .dropdown {

    position: absolute;

    left: 0px;

    margin-top: 0.5rem;

    width: 100%;

    min-width: 128px;

    transform-origin: top;

    white-space: nowrap;

    border-radius: 0.375rem;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

    .navbar {

    display: flex;

    width: 100%;

    flex-direction: column;

    align-items: center
}

    @media (min-width: 768px) {

    .navbar {

        flex-direction: row;

        justify-content: space-between
    }
}

    .navbar .menu {

    width: 100%;

    flex-grow: 1;

    flex-direction: column;

    padding-bottom: 1rem
}

    @media (min-width: 768px) {

    .navbar .menu {

        margin-left: 2.5rem;

        display: flex !important;

        flex-direction: row
    }

    .navbar .menu > :not([hidden]) ~ :not([hidden]) {

        --tw-space-x-reverse: 0;

        margin-right: calc(0.75rem * var(--tw-space-x-reverse));

        margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))
    }

    .navbar .menu {

        padding-bottom: 0px
    }
}

    .btn-navbar {

    margin-top: 0.5rem;

    white-space: nowrap;

    border-radius: 0.375rem;

    padding-left: 1rem;

    padding-right: 1rem;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 600
}

    .btn-navbar:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    .btn-navbar:focus {

    --tw-bg-opacity: 1;

    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

    @media (min-width: 768px) {

    .btn-navbar {

        margin-top: 0px
    }
}

    .btn-mobile-menu {

    border-radius: 0.5rem;

    font-size: 1.125rem;

    line-height: 1.75rem;

    --tw-text-opacity: 1;

    color: rgb(0 0 0 / var(--tw-text-opacity))
}

    @media (min-width: 768px) {

    .btn-mobile-menu {

        display: none
    }
}

    .btn-navbar.active {

    background-color: rgb(255 150 55 / 0.2)
}

    .btn-navbar.active:hover {

    background-color: rgb(255 150 55 / 0.5)
}

    .btn-navbar.active:focus {

    background-color: rgb(255 150 55 / 0.3)
}

    .footer .newsletter {

    grid-column: span 2 / span 2
}

    @media (min-width: 768px) {

    .footer .newsletter {

        grid-column: span 4 / span 4
    }
}

    @media (min-width: 1024px) {

    .footer .newsletter {

        grid-column: span 2 / span 2
    }
}

    .footer .links a {

    margin-bottom: 0.25rem;

    display: block
}

    .footer .links a:last-child {

    margin-bottom: 0px
}

    .footer .newsletter .title,  .footer .links .title {

    padding-bottom: 0.5rem;

    font-size: 1.125rem;

    line-height: 1.75rem;

    font-weight: 600
}

    .footer .links a:hover {

    padding-left: 0.5rem
}

    .footer .main-section {

    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 2.5rem;

    padding-top: 2.5rem;

    padding-bottom: 2.5rem
}

    @media (min-width: 768px) {

    .footer .main-section {

        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
}

    @media (min-width: 1024px) {

    .footer .main-section {

        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
}

    .footer .social-media > :not([hidden]) ~ :not([hidden]) {

    --tw-space-x-reverse: 0;

    margin-right: calc(0.75rem * var(--tw-space-x-reverse));

    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))
}

    .footer .secondary-section {

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-top-width: 1px;

    padding-top: 1rem;

    padding-bottom: 1rem;

    padding-left: 0.5rem;

    padding-right: 0.5rem
}

